<h3>
  Hello <%= @current_user.username %>
</h3>

<body>
  <div class="col-xs-6 col-xs-offset-3">

    <h2>Pins</h2>

    p>
    <a> <%= @pin.image_url %>">Here's a <%= @pin.description %></a>
</p>

<p>
	<img src="<%= @pin.image_url %>" />
</p>
    
             <% @pins.each do |pin| %>

	<p>
		<a <%= pin.id %>>
      <%= pin.description %>
		</a>
	</p>

	<hr>
<% end %>

       </form>
      </div>

  </body>